telas/__pycache__/__init__.cpython-314.pyc
telas/__pycache__/cadastro.cpython-314.pyc
telas/__pycache__/login_screen.cpython-314.pyc
telas/__pycache__/login.cpython-314.pyc
telas/__pycache__/main_screen.cpython-314.pyc
telas/__pycache__/main.cpython-314.pyc
telas/__pycache__/register_screen.cpython-314.pyc
telas/__init__.py
telas/__pycache__/dashboard.cpython-314.pyc
